name: Ubuntu Basic Example

on:
  push:
    branches: [ main ]

jobs:
  ubuntu-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Hello World
        run: echo "Hello from Ubuntu runner!"

      - name: List Files
        run: ls -la
